
:root {
  --c-primary: #011627ff;
  --c-secondary: #ff9f1cff;
  --c-focus-light: #787878;

  --c-error-light: #ff6767;
  --c-error: #f93943ff;
  --c-success-light: #aad922ff;
  --c-success: #668f0a;

  --c-bg: #fdfffcff;
}
