.stock-price {
  display: grid;
  grid-template-columns: 5rem auto 5rem;
  column-gap: 0.5rem;
  align-items: center;

  &--green {
    color: var(--c-success);
  }

  &--red {
    color: var(--c-error);
  }

  &__prefix {
    font-size: 80%;
    margin-right: 0.1rem;
  }

  &__current {
  }

  &__delta {
    display: flex;
    justify-content: left;
    align-items: flex-end;
  }

  &__arrow {
    content: " ";
    display: inline-block;
    width: 0;
    height: 0;
    border: none;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    border-bottom: 0.4rem solid black;
  }

  &--green &__arrow {
    border-bottom-color: green;
  }

  &--red &__arrow {
    border-bottom-color: red;
    transform: rotate(180deg);
  }
}
