.stock-table {
  --size-col-code: 5rem;
  --size-col-price: 13rem;
  --size-col-ts: 9rem;

  height: 100%;
}

.stock-row {
  display: grid;
  grid-template-columns: var(--size-col-code) minmax(9rem, 1fr) var(--size-col-price) var(--size-col-ts);
  column-gap: 1rem;
  cursor: pointer;

  > div {
    padding: 0 1rem;
  }

  &__name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__price {
    text-align: right;
  }

  .dollar::before {
    content: "$";
    font-size: 80%;
    margin-right: 0.1rem;
  }

  &:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:focus {
    outline: 1px solid dodgerblue;
  }
}
