@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap");
@import "./_mixins.scss";
@import "./_colors.scss";

:root {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Cairo", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  background-color: var(--c-bg);
  color: var(--c-primary);
}

.h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.h2 {
  font-size: 1.75rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.25rem 0;
}

.page-container {
  padding: 0.5rem 1rem;
}

// 576px win width and more
@include sm {
  :root {
    font-size: 12px;
  }
}

// 992px window width and more
@include lg {
  :root {
    font-size: 14px;
  }
}
