@import "../../assets/styles/mixins";

.app {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  height: 100vh;
  max-height: 100vh;

  &__header {
    display: flex;
    flex-direction: column;
    background: white;
    z-index: 1;

    .search-box > input {
      padding: 0.1rem 0.4rem;
      font-size: 1rem;
      height: 2rem;
      border-radius: 0.2rem;
      border: 1px solid #777;

      &:focus {
        outline: none;
        border-color: dodgerblue;
      }
    }
  }

  &__content.page-container {
    overflow: auto;
  }

  .app-stock-chart {
    background-color: white;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;

    .connection-status {
      --status-fill-color: #aaa;

      display: flex;
      align-items: center;

      &.Connected {
        --status-fill-color: var(--c-success-light);
        color: var(--c-success);
      }

      &.Reconnecting,
      &.Disconnected {
        --status-fill-color: var(--c-error-light);
        color: var(--c-error);
      }

      &::before {
        content: " ";
        display: inline-block;
        border-radius: 50%;
        width: 0.5rem;
        height: 0.5rem;
        background-color: var(--status-fill-color);
        margin-right: 0.5rem;
      }
    }
  }

  @include sm {
    &__header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__footer {
      flex-direction: row;
    }

    .app-stock-chart {
      background-color: white;
    }
  }
}
